@import '../assets/styles/variables';

.footer {
  background-color: $color-primary;
  color: $color-secondary;
  text-align: center;
  padding: 3em;
  margin-top: 0.5em;
}

.copyright {
  display: flex;
  justify-content: space-between;
  font-size: 1rem
}
